python-3.11.6
pandas==2.1.0
numpy==1.26.0
requests
aiohttp
scikit-learn
xgboost
flask
streamlit==1.28.0
plotly
matplotlib
seaborn
sqlalchemy==2.0.25
psycopg2-binary==2.9.6
requests
scikit-learn==1.3.0
altair==4.2.2
vega_datasets==0.9.0
python-dotenv==1.0.1
